body {
    background-color: grey;
    color: white;
    font-size: 120px;
    width: 100%;
    text-align: center;
}

.button {
    color: white;
    text-decoration: none;
    margin: 30px;
    font-size: 50px;
}

.controls {
    margin-top: 200px;
}